@font-face{
    font-family: head;
    src:url(./Heading-Now-Variable.ttf);
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* THIS CODE IS FOR MENU */

.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
}
svg path{
    fill: #0a0a0a;
}
#toggle-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    z-index: 2;
    cursor: pointer;
}

.btn-outline{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #0a0a0a;
}

.btn-outline-1{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: menuani 4s linear infinite;
}
.btn-outline-2{
    border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
}

@keyframes menuani {
    0%{border-radius: 60% 40% 30% 70% / 60% 
        30% 70% 40%;
    }
    50%{border-radius: 30% 60% 70% 40% / 50% 
        60% 30% 60%;}
    100%{border-radius: 60% 40% 30% 70% / 60% 
        30% 70% 40%;}
}
#hamburger{
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 2;
}
#hamburger span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 1.25px;
    background-color: #0a0a0a;
    transition: transform 0.25s;
}

#hamburger span::before{
    position: absolute;
    right: 0;
    display: inline-block;
    content: "";
    width: 18px;
    height: 1.25px;
    background: #0a0a0a;
    transform: translateY(-4px);
    transition: transform 0.25s;
}

#hamburger .active span{
    transform: rotate(45deg);

}
#hamburger .active span::before{
    top: unset;
    width: 24px;
    transform: rotate(-90deg);
}


.menu{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.menu > div{
    height: 100%;
    display: flex;
}

.menu a{
    position: absolute;
    top: 120px;
    line-height: 70%;
    text-decoration: none;
    color: aqua;
}
.menu a span{
    font-size: 20px;
    margin-right: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.menu-item{
    position: relative;
}
.menu-item::after{
    position: absolute;
    content: "";
    top: 100px;
    left: -20px;
    width: 150%;
    height: 200%;
    background: #0a0a0a;
    /* background: red; */
    margin: 0 auto;
}

.menu-container{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.primary-menu{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primary-menu .menu-container .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.primary-menu a{
    text-transform: uppercase;
    font-size: 125px;

}

.secondaru-menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8em;
}



/* MENU CODE END */






#menubar{
    position: absolute;
    height: 58px;
    width: 119px;
    background-color: black;
    color: white;
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 34px;
}
#menubar h3{
    font-weight: 900;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#menubar .dot{
    height: 8px;
    width: 8px;
    background: salmon;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 8px;
}


#pages{
    height: 100vh;
    /* position: absolute; */
    width: 100%;
    /* background-image: url(noise.png); */
    display: flex;
    /* background-color: #B692A1; */
}

#page1{
    height: 100vh;
    width: 50%;
max-height: 100vh;
    background-color: black;
    /* background-image: url(noise.png); */
    position: relative;
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
/* z-index: 2; */
    /* mix-blend-mode:darken; */
}

/* #noise{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('noise.png');
    background-size: auto;
    background-repeat: repeat;
    mix-blend-mode: overlay;
    opacity: 1;
} */

#page1 h1{
    font-size: 980%;
    /* position: absolute; */
    color: white;
    text-transform: uppercase;
    font-family: head;    
    /* text ek hi line me rehata hai isse  */
    /* white-space: nowrap; */
    font-stretch: 260%;
    font-weight: 999;
    
}

#navbar{
    
    width: 90%;
    color: white;
    margin: 10px;
    position: absolute;
    top: 3%;
}
#navbar nav{
display: flex;
justify-content: space-evenly;
/* align-items: center; */
}

#line{
    height: 73%;
    bottom: -28.5%;
    display: flex;
    
    position: absolute;
    transform: rotate(90deg);
}

#bottom-navbar{
    
    width: 100%;
    color: rgba(255, 255, 255, 0.733);
    margin: 10px;
    position: absolute;
    
    bottom: 3%;
}
#bottom-navbar nav{
display: flex;
font-weight: 50;
font-size: small;
justify-content: space-evenly;
/* align-items: center; */
}








#page1-2{
    width: 36.5%;
    /* width: 572px; */
    height: 100vh;
    max-height: 100vh;
    background-color: #B692A1;
    /* position: relative; */
    /* position:relative; */
    /* display: flex; */
    overflow: hidden;
    translate: none;
    transform-origin:0% 50%;
    rotate: none;
}

#page1-2 img{
    width: 100%;

    height: 30%;
    display: flex;
    top: 22%;
/* right: 1%; */
display:flex;
    object-fit: cover;
    position:absolute;
    align-items: center;
    justify-content: center;
}

#page1-2 h3{
    font-size: 336%;
    font-family: monospace;
    position: absolute;
    top: 61%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* transform: translate(1%, 50%); */
margin: 4%;
}


#page1-3{
    height: 100vh;
    width: 9.5%;
    max-height: 100vh;
    background-color: #BFCCD8;
    /* z-index: 2; */
    /* overflow: hidden; */
    overflow: hidden;
    translate: none;
    rotate: none;
    transform-origin:-50% 50%;
}

#page1-3 img{
    width: 100%;

    height: 14.97%;
    display: flex;
    top: 43%;
/* right: 1%; */
display:flex;
    object-fit: cover;
    position:absolute;
    align-items: center;
    justify-content: center;
}


#page1-3 h3{
    font-size: 2.6vh;
    font-family: monospace;
    position: absolute;
    top: 61%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* transform: translate(5%, -22%); */
    padding: 2.4%;
    /* margin-left: 7%; */
}



#page1-4{
    height: 100vh;
    width: 5.4%;
    /* max-height: 100vh; */
    background-color: #798E7B;
    /* overflow: hidden; */
    /* translate: none; */
    /* rotate: none; */
    transform-origin:-142% 50%;
    /* transform-origin: 0% 50%; */
    max-height: 200vh;
    /* transform: scale(12.56, 1.60); */
}



#page1-4 h3{
    font-size: 1.05vh;
    font-family: monospace;
    position: absolute;
    top: 48.5%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin:3.5%;

}



#page1-4 img{
    width: 100%;

    height: 15.75%;
    display: flex;
    top: 58%;
/* right: 1%; */
display:flex;
    object-fit: cover;
    position:absolute;
    align-items: center;
    justify-content: center;
}
/* #page1-4 img{
    height: 300px;
    width: 50px;
    object-fit: cover;
} */

/* #page1-5{
    top: -100;
    height: 100vh;
    width: 0.001%;
    background-color: #ff0000;
  
} */

.projects{
    height: 10vh;
    width: 100%;
    background: violet;
    /* left: 0; */
    display: flex;
    position: absolute;
    /* top: 90%; */
    /* bottom: 100vh; */
}
.projects h1{
    font-size: 21vh;
    font-family: 'Courier New', Courier, monospace;
}

#section3{
    height: 100vh;
    width: 0.01%;
    background: rgb(57, 52, 61);
    bottom: -300%;
    right: 0;
    /* display: flex; */
    position: absolute;
    
}

#section3 h1{
    font-size: 15vw;
    color: white;
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
}



.logoim{
    top: 800px;
    height: 300px;
    width: 50px;
}

/* this is for page 2 */
#section2{
    top: 0;
    height: 19vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    /* position:relative; */
    /* bottom: 30; */
    right: 0;
    /* overflow: hidden; */
    z-index: 4;

}







.projects img{
    height: 17%;
    display: flex;
    z-index: 5;
    position: absolute;
    right: 11%;
    top: -1%;
    animation: skelet 2.9s ease infinite;
}

@keyframes skelet {
	
    0%{
        transform: translateY(0%);
        /* opacity: 0; */
    }
    5%{
        transform: translateY(30%);
        opacity: 100%;
    }
    100%{
        transform: translateY(0%);
        /* opacity: 0.5; */
    }
}
